MARIADB_HOST=
MARIADB_PORT=3306
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=pbdb_archive

PG_HOST=
PG_PORT=5432
PG_USER=
PG_PASSWORD=
PG_DATABASE=
# Path to CA certificate for SSL connections (e.g., AWS RDS global-bundle.pem)
PG_CA_CERT=

PBOT_TOKEN=
